* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Bona Nova SC", serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(195, 0, 0);
}
h3 {
  font-size: 3em;
  color: bisque;
  padding: 20px;
}
#drum-container {
  display: grid;
  max-width: 90vw;
  height: 600px;
  gap: 30px;
  margin-left: 50px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  background: linear-gradient(to bottom);
}
.display {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
  transition: transform 0.2s ease;
  padding: 50px;
  border-radius: 15%;
  color: rgb(195, 0, 0);
}
.highlight-sound {
  transform: scale(1.05);
}
.shortcut {
  font-size: 1.1em;
}
@media only screen and (max-width: 600px) {
  #drum-container {
    display: flex;
    flex-direction: column;
  }
  #kick {
    flex-direction: column;
  }
}
